<h3> Sign in </h3>
<form action="/signin" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required>
    </div>
   
    
    <div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" required>
    </div>
    <button type="submit">Sign in</button>

</form>
<a href="/user/signup">User Sign Up</a><br>
<a href="/admin/signup">Admin Sign Up</a>